.todo-card {
    position: relative;
    height: 82vh;
    padding: 20px;
    border-radius: 12px;
    background: linear-gradient(135deg, #f9f9f9, #e0f7fa);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.todo-item {
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #ffffff;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.todo-item:hover {
    background-color: #f1faff;
    transform: scale(1.02);
}

.todo-list {
    height: 100%;
    padding: 10px;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
}

.todo-add {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.todo-icon {
    background-color: #0a66c2 !important;
    color: #fff !important;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s;
}

.todo-icon:hover {
    background-color: #004f9f !important;
    transform: scale(1.1);
}

.todo-text {
    flex-grow: 1;
    word-wrap: break-word;
    padding-right: 10px;
    font-size: 1rem;
    color: #333;
}